<widget-modal widget-modal-title="{{ctrl.allWidgetDetails.Builds.widgetModalTitle}}">
    <form name="BuildwidgetDetails" class="form widgetDetailsModal" novalidate>
        <table class="table">
            <!-- <label class="modal-label">{{ctrl.allWidgetDetails.Builds.widgetName}}</label> -->
            <caption class="modal-label">{{ctrl.allWidgetDetails.Builds.widgetName}}</caption>
            <thead>
            <tr>
                <th>Recent Build Time</th>
                <th>Next Recent Build</th>
                <th>5 Recent Build</th>
                <th>Mean Time to Resolve</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuild}}
                </td>
                <td>{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuildNext}}
                </td>
                <td><p ng-repeat="latestItem in ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.latestBuildsData">{{latestItem.recentBuild}}</p>
                </td>
                <td>{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.meanTime2Resolved}}</td>
            </tr>
            </tbody>
        </table>
    </form>
</widget-modal>
