<widget-modal widget-modal-title="{{ctrl.allWidgetDetails.Builds.widgetModalTitle}}">
    <form name="BuildwidgetDetails" class="form widgetDetailsModal" novalidate>
        <table class="table">
            <!-- <label class="modal-label">{{ctrl.allWidgetDetails.Builds.widgetName}}</label> -->
            <caption class="modal-label">{{ctrl.allWidgetDetails.Builds.widgetName}}</caption>
            <thead>
            <tr>
                <th>Recent Build Time</th>
                <th>Next Recent Build</th>
                <th>5 Recent Build</th>
                <th>Mean Time to Resolve</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Build<span style="padding-left:5px;"><a style="color:#317adc;" href="{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuild.buildUrl}}">{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuild.buildId}}</a></span><span style="color:green;padding-left:5px;">{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuild.buildStatus}}</span><span style="padding-left:5px;">{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuild.buildTime}}</span>
                </td>
                <td>Build<span style="padding-left:5px;"><a style="color:#317adc;" href="{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuildNext.buildUrl}}">{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuildNext.buildId}}</a></span><span style="color:green; padding-left:5px;">{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuildNext.buildStatus}}</span><span style="padding-left:5px;">{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.last2SuccessBuilds.recentBuildNext.buildTime}}</span>
                </td>
                <td><p ng-repeat="latestItem in ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.latestBuildsData">Build<span style="padding-left:5px;"><a style="color:#317adc;" href="{{latestItem.recentBuild.buildUrl}}">{{latestItem.recentBuild.buildId}}</a></span><span style="color:red;padding-left:5px;">{{latestItem.recentBuild.buildStatus}}</span><span style="padding-left:5px;">{{latestItem.recentBuild.buildTime}}</span></p>
                </td>
                <td>{{ctrl.allWidgetDetails.Builds.totalBuildsLastWeek.meanTime2Resolved}}</td>
            </tr>
            </tbody>
        </table>
    </form>
</widget-modal>
