<widget-modal widget-modal-title="{{ctrl.allWidgetDetails.Commits.widgetModalTitle}}">
    <form name="widgetDetails" class="form widgetDetailsModal" novalidate>
        <table class="table">
            <!-- <label class="modal-label">{{ctrl.allWidgetDetails.Commits.widgetModalTitle}}</label> -->
            <caption class="modal-label">{{ctrl.allWidgetDetails.Commits.widgetName}}</caption>
            <thead>
                <tr>
                    <th>No of Commits / Today</th>
                    <th>Last 7 Days</th>
                    <th>Trend</th>
                    <th>Avg. Daily Change</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ctrl.allWidgetDetails.Commits.totalCommitsLastWeek.lastDayCommitCount}}</td>
                    <td>{{ctrl.allWidgetDetails.Commits.totalCommitsLastWeek.lastSevenDaysCommitCount}}</td>
                    <td><p ng-repeat = "commitData in ctrl.allWidgetDetails.Commits.totalCommitsLastWeek.lastFiveDaysCommitDetails">{{commitData.CommitDate}} - {{commitData.CommitsCount}} Commits</p>
                        
                    </td>
                    <td>{{ctrl.allWidgetDetails.Commits.totalCommitsLastWeek.avgDailyChange}}</td>
                </tr>
                </tbody>
        </table>
    </form>
</widget-modal>
