<widget-modal widget-modal-title="{{ctrl.allWidgetDetails.Commits.widgetModalTitle}}">
    <form name="widgetDetails" class="form widgetDetailsModal" novalidate>
        <table class="table">
            <!-- <label class="modal-label">{{ctrl.allWidgetDetails.Commits.widgetModalTitle}}</label> -->
            <caption class="modal-label">{{ctrl.allWidgetDetails.Commits.widgetName}}</caption>
            <thead>
                <tr>
                    <th>No of Commits / Today</th>
                    <th>Last 7 Days</th>
                    <th>Trend</th>
                    <th>Avg. Daily Change</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>12</td>
                    <td>35</td>
                    <td>7th May 10 Commits
                        8th May 12 Commits
                        9th May 12 Commits
                    </td>
                    <td>1 Hour</td>
                </tr>
                </tbody>
        </table>
    </form>
</widget-modal>
