<widget-modal widget-modal-title="Getting Widget Details">
    <form name="DefectwidgetDetails" class="form" novalidate>
        <table class="table">
            <label class="modal-label">Defects</label>
            <thead>
            <tr>
                <th>No of Defectgs / Today</th>
                <th>Last 7 Days</th>
                <th>Trend</th>
                <th>Avg. Daily Change</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>12</td>
                <td>35</td>
                <td>7th May 10 Defects
                    8th May 12 Defects
                    9th May 12 Defects
                </td>
                <td>1 Hour</td>
            </tr>
            </tbody>
        </table>
    </form>
</widget-modal>
