<widget-modal widget-modal-title="{{ctrl.allWidgetDetails.Defects.widgetModalTitle}}">
    <form name="DefectwidgetDetails" class="form" novalidate>
        <table class="table">
            <label class="modal-label">{{ctrl.allWidgetDetails.Defects.widgetName}}</label>
            <thead>
            <tr>
                <th>No of Defects / Today</th>
                <th>Last 7 Days</th>
                <th>Trend</th>
                <th>Avg. Daily Change</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="{{ctrl.allWidgetDetails.Defects.totalDefectsCount.defectTdpUrl}}">{{ctrl.allWidgetDetails.Defects.totalDefectsCount.defectsCount}}</a></td>
                <td>{{ctrl.allWidgetDetails.Defects.totalDefectsCount.last7DaysDefectCount}}</td>
                <td><p ng-repeat="trend in ctrl.allWidgetDetails.Defects.totalDefectsCount.trendingData.last7DaysDefects"><span>{{trend.defectID}}</span><span>{{trend.priority}}</span><span>{{trend.severity}}</span><span>{{trend.status}}</span></p>
                </td>
                <td>{{ctrl.allWidgetDetails.Defects.totalDefectsCount.avgDailyChange}}</td>
            </tr>
            </tbody>
        </table>
    </form>
</widget-modal>
