<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #7d90ad !important;border-color:#7d90ad;">
        <div class="container-fluid">

            <a ng-href="#/" class="dashboard-logo dashboard-logo-inverse"></a>
            <span class="welcome-header" style="float:left;margin-left: 40%;font-size: 2.5rem">
                    Quality Metrics Dashboard
                   </span>
                   <!-- <svg viewBox="0 0 1200 100">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="80%">Quality Metrics Dashboard</text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg> -->
<!-- <input type="text" class="form-control" id="userSearch" placeholder="Filter Users" ng-model="userSearch"> -->

            <div ng-show="ctrl.showAuthentication">
                <div class="pull-right">

                    <span class="welcome-header">
                    Welcome  {{ ctrl.username  | uppercase}}
                    <span class="fa fa-stack fa-lg" ng-click="ctrl.createDashboard()" ng-show="ctrl.myadmin" ng-click="ctrl.admin()">
                            <span class="fa-circle fa-stack-2x"></span>
                            <span class="fa-plus fa-stack-1x"></span>
                        </span>

                        <input type="search" name="collectorItemId" class="searchTerm" placeholder="Type to find dashboard"
                           ng-model="ctrl.search"
                           uib-typeahead="item.description for item in ctrl.filterByTitle($viewValue)" typeahead-focus
                           typeahead-template-url="jobUrlTemplate.html"
                           typeahead-min-length="0"
                           typeahead-wait-ms="250"
                           autocomplete="off"
                           typeahead-no-results="noResults"
                           required>
                   

                       <span class="fa-stack fa-lg" ng-show="ctrl.myadmin" ng-click="ctrl.admin()">
                           <i class="fa fa-circle fa-stack-2x"></i>
                           <i class="fa fa-cog fa-stack-1x"></i>
                       </span>


                       <span class="fa-stack fa-lg" ng-click="ctrl.logout()">
                           <i class="fa fa-circle fa-stack-2x"></i>
                           <i class="fa fa-power-off fa-stack-1x"></i>
                       </span>

                        <div class="divider"></div>
                   </span>
                </div>
            </div>

            <div ng-hide="ctrl.showAuthentication">
                <div class="pull-right">
                    <span class="welcome-header">
                    Login
                       <span class="fa-stack fa-lg" ng-click="ctrl.login()">
                           <i class="fa fa-circle fa-stack-2x"></i>
                           <i class="fa fa-power-off fa-stack-1x"></i>
                       </span>

                        <div class="divider"></div>
                   </span>
                </div>
            </div>

        </div>
    </nav>
</div>
<style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat);

/* html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #030321;
  font-family: Arial;
} */

svg {
    float:left;
    display: block;
    font: 3.5em 'Montserrat';
    /* width: 90px; */
    height: 50px;
    margin: 0 auto;
    margin-left:27%;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: rgb(14, 204, 14);
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: rgb(14, 204, 14);
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: red;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: red;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
</style>